<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--底部栏-->
<footer  th:fragment="footer" class="ui inverted vertical segment m-padded-tb-massive m-opacity">
    <!--容器-->
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced m-opacity-mini" >微信小程序</h4>
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/img/wechat.jpg" class="ui rounded image" alt="" style="width: 110px" th:src="@{/img/wechat.jpg}">
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced m-opacity-mini">联系站主</h4>
                <div class="ui inverted link list m-margin-top-large">
                    <div href="#" class="m-text-thin">Email：pingfan23@foxmail.com</div>
                    <div href="#" class="m-text-thin">QQ：971294083</div>
                </div>
            </div>

            <div class="four wide column" >
                <h4 class="ui inverted header m-text-thin m-text-spaced m-opacity-mini">易分享</h4>
                <p class="m-text-thin m-text-spaced m-font-size-text-mini m-opacity-tiny m-margin-top-large" th:text="#{index.footer.share}">易分享旨在打造完善的大学生公益交流平台，为大学生创造良好的交流平台</p>
            </div>


            <!--运行时间统计  m-font-size-text-->
            <div class="four wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced m-opacity-mini">易分享信息</h4>
                <div class="ui inverted link list m-margin-top-large">
                    <p href="#" class="m-text-thin"> 文章总数：<span class="m-text-thin m-font-color " th:text="${blogTotal}" > 14 </span> 篇</p>
                    <p href="#" class="m-text-thin"> 访问总数： <span class="m-text-thin m-font-color" th:text="${blogViewTotal}"> 14 </span> 篇</p>
                    <p href="#" class="m-text-thin"> 评论总数： <span class="m-text-thin m-font-color" th:text="${blogCommentTotal}"> 14 </span> 篇</p>
                    <p href="#" class="m-text-thin"> 留言总数： <samp class="m-text-thin m-font-color" th:text="${blogMessageTotal}"> 14 </samp> 篇</p>
                </div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <div style="margin-top: -18px" class="ui inverted m-text-thin m-text-spaced m-font-color">本站已营业：<span id="htmer_time" class="item m-text-thin"></span></div>
        <!-- <a rel="nofollow" href="http://www.beian.miit.gov.cn" target="_blank">赣ICP备20004408号-1</a> -->
    </div>
    </div>

</footer>
</body>
</html>